@{
    Layout = "~/Views/Shared/Admin.cshtml";
}
@{
    var users = new[] {
        new { Username = "Abdallah", Age = 28, Email = "Abdallah@gmail.com" },
        new { Username = "Sura", Age = 29, Email = "sura@gmail.com" },
        new { Username = "Salah", Age = 30, Email = "salah@gmail.com" }
    };
}
<link rel="stylesheet" href="~/css/admin.css" />
<h2 style="margin-left:600px;">Admin page</h2>
